# Exact file names to hide
JenkinsDeclarativePipelineScript
Jenkinscohort6
Jenkinsfile
Jenkinsfile-scripted
jenkins-cohort8
jenkinsfilecohort7
cohort9
Makefile
git-token
pipeline.yml
Dockerfile2


# If you want to hide the docker files too:
docker-compose.yml
docker_prom.yaml
